 # .gitattributes

# Specify files that Git should treat as text
*.hip+ linguist-language=hipplus

# Specify files that Git should treat as binary
*.png binary
*.jpg binary
*.gif binary
*.mp4 binary
*.avi binary
*.mkv binary
*.zip binary
*.apk binary
*.ABB binary
